---
import Layout from "../../layouts/Layout.astro";
import PlayListItemCard from "../../components/PlayListItemCard.astro";

import { allPlaylists, songs } from "../../lib/data";

const { id } = Astro.params;

// Get the playlist directly from the ID parameter
const playlist = allPlaylists.find((playlist) => playlist.id === id);

// Make sure playlist exists before accessing its properties
if (!playlist) {
  return Astro.redirect("/404");
}

const { title } = playlist;

const playListSongs = songs.filter(
  (song) => song.albumId === playlist.albumId
);
---
<!-- VAS PAR EL MIN 57 -->
<Layout title={title}>
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- <pageHeader /> -->

    <div class="relative z-10 px-6 pt-10"></div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div>
  </div>
</Layout>
